html, body{
    overflow: hidden;
    padding: 0;
    margin: 0;
    background-color: green;
    height: 100%;
}

.container, .row{
    height: 100%;
}

.col-sm{
    margin: auto auto auto 0;
}

.header, .content, .footer, #result{
    background-color: rgba(0,0,0,0.3);
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title{
    text-align: center;
    white-space: nowrap;
    color: white;
}

#player, #qty{
    border-radius: 0;
    border-right: none;
    background-clip: unset;
    box-shadow: none;
    border-color: transparent;
}

.invalid{
    color: red;
    text-align: center;
    width: 0px;
    border-radius: 0;
}

.item{
    color: white;
    text-align: center;
    width: 49.2%;
    display: inline-block;
}

hr{
    background-color: white;
    margin: 5px;
    padding: 0;
}

#add{
    height: 100%;
    color: white;
    background-color: green;
    border-top: 1px solid rgb(206,212,218);
    border-right: 1px solid rgb(206,212,218);
    border-bottom: 1px solid rgb(206,212,218);
    border-left: none;
}

#add:hover, #shuffle:hover{
    cursor: pointer;
}

#add:focus, #shuffle:focus{
    outline: none;
}

#add:active, #shuffle:active{
    background-color: transparent;
}

#shuffle{
    color: white;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 1px solid white;
}

#qty{
    text-align: center;
}